@model List<UserRoleViewModel>

@{ 
    var roleId = ViewBag.roleId;
}


<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or Remove User From This Role</h2>
        </div>
        <div class="card-body">
            @for(int i=0; i<Model.Count;i++)
            {
            <div class="form-check m-1">
                <input hidden asp-for="@Model[i].UserId" />
                <input hidden asp-for="@Model[i].UserName" />

                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].UserName</label>
            </div>
            }
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Update</button>
            <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-id="@roleId">Cancel</a>

        </div>
    </div>
</form>