@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "User Role";
}

<h1 class="text-center">All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole">Create Role</a>


    foreach (var role in Model)
    {

        <div class="card">
            <div class="card-header">
                @role.Id

            </div>
            <div class="card-body">
                <div class="card-title">@role.Name</div>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteRole" asp-route-Id="@role.Id">

                    <a class="btn btn-info text-white" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                    <span id="confirmdelete_@role.Id" style="display:none; float:right">
                        <span class="text-danger">Are You Sure To Delete The Role</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id',false)">No</a>
                    </span>
                    <span id="delete_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id',true)">Delete</a>

                    </span>

                </form>
            </div>
        </div>
    }

}
else
{
    <div class="card">
        <div class="card-header">
            No Role Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the below button to create the role</h5>
        </div>
        <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole">Create Role</a>

    </div>
}


@section Scripts
{
    <script src="~/js/CustomScripts.js"></script>
}